nav{
    margin: 0 10%;
}
nav ul li{
    width: 20%;
}

nav ul li:first-child{
    margin-left: 4%;
}

nav ul li:not(:last-child){
    margin-right: 3%;
}

main, aside{
    display: inline-block;
    vertical-align: top;
}

main{
    width: 90%;
}

aside{
    width: 25%;
    margin: 20px 10% 0 7%;

}

form ul{
    width: 50%;
    margin: 0 25%;
}

table{
    width: 80%;
    margin: 0 10%;    
}